.menu_btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;

    height: 39px;
    padding: 4px 12px;
    margin: 0;

    border: none;
    border-radius: 50%;
    background-color: #DCEFD8;

    line-height: 0;

    transition: background-color var(--animation);

    cursor: pointer;

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.burger_menu_backdrop {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: rgba(23, 61, 51, 0.25);
    backdrop-filter: blur(2px);
}

.content_wrap {
    width: 100%;
    height: 100%;
    margin-top: 36px;
    padding: 24px;


    border-radius: 25px;
    background: rgba(23, 61, 51, 0.75);
    backdrop-filter: blur(12.5px);

    @media screen and (min-width: 768px) {
        margin-left: auto;
        width: 320px;
        height: 701px;
    }

    @media screen and (min-width: 1280px) {
        margin-left: auto;
        width: 365px;
        height: 873px;
    }
}

.close_btn_wrap {
    position: relative;

    width: 100%;

    ::after {
        position: absolute;
        bottom: 0;
        left: 0;

        content: "";
        width: 100%;
        height: 1px;

        background-color: var(--light-color);
    }
}

.close_btn {
    display: inline-flex;
    align-items: flex-end;

    margin: 0;
    padding-bottom: 8px;

    border: none;
    background-color: transparent;

    color: var(--light-color);
    font-size: 20px;
    letter-spacing: -0.8px;
    stroke: var(--accent-color);

    transition: color var(--animation);

    cursor: pointer;

    &:hover,
    &:focus {
        color: var(--accent-color);
        fill: var(--accent-color);
        stroke: var(--accent-color);
    }
}

.links_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: calc(100vh - 132px);

    @media screen and (min-width: 768px) {
        height: 100%;
        height: calc(100% - 24px);
    }
}

.link_list {
    display: inline-flex;
    flex-direction: column;

    gap: 8px;
    padding-top: 24px;
}

.link {
    display: flex;
    align-items: center;
    gap: 8px;

    // color: var(--light-color);//active-page???   --section?
    color: rgba(255, 255, 255, 0.25);
    font-size: 24px;
    letter-spacing: -0.96px;
    stroke: var(--accent-color);

    transition: color var(--animation);

    cursor: pointer;

    &:hover,
    &:focus {
        color: var(--accent-color);
        fill: var(--accent-color);
        stroke: var(--accent-color);
    }
}

.social {
    display: flex;
    gap: 8px;
}

.social_link {
    color: var(--light-color);

    transition: color var(--animation);

    cursor: pointer;

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}