.section {
    padding-bottom: 36px;
}

.title_wrap {
    position: relative;
    padding-bottom: 48px;
    margin-bottom: 24px;

    &::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(50%);

        content: "";
        display: block;
        width: 1px;
        height: 48px;

        background-color: var(--accent-color);
    }
}

.title {
    text-align: center;
}