.section {
    padding-bottom: 36px;

    @media screen and (min-width:768px) {
        padding-bottom: 100px;
    }
}

.mobile {
    @media screen and (min-width:768px) {
        display: none;
    }
}

.tab_desk {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width:767px) {
        display: none;
    }
}

.question {
    padding-bottom: 12px;

    text-align: justify;
    font-size: 18px;
    letter-spacing: -0.72px;
}

.link_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    padding: 10px 16px;
    width: 130px;

    border-radius: 18px;
    background-color: var(--accent-color);

    color: var(--primary-color);
    letter-spacing: -0.64px;

    transition: background-color var(--animation), color var(--animation);

    cursor: pointer;

    &:hover {
        color: var(--accent-color);
        background-color: var(--primary-color);
    }
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 347px;

}