.link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    padding: 10px 16px;
    width: 130px;

    border-radius: 18px;
    background-color: var(--accent-color);

    color: var(--primary-color);
    letter-spacing: -0.64px;

    transition: background-color var(--animation), color var(--animation);

    cursor: pointer;

    &:hover {
        color: var(--accent-color);
        background-color: var(--primary-color);
    }
}