@import "node_modules/modern-normalize/modern-normalize.css";

:root {
  --primary-color: #173D33;
  --secondary-color: #828382;
  --accent-color: #97D28B;

  --main-bg-color: #F3F5FA;
  --light-color: #FFF;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  background-color: var(--main-bg-color);

  font-family: var(--font-firaSans);
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding-right: 100px;
    padding-left: 100px;
    width: 1280px;
  }
}

.title-font {
  padding-bottom: 24px;

  color: var(--primary-color);
  font-family: var(--font-oswald);
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .title-font {
    padding-bottom: 0;

    font-size: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .title-font {
    font-size: 48px;
  }
}