.navigation_slides {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    padding-bottom: 20px;
    height: 93px;
}

.count {
    color: rgba(23, 61, 51, 0.25);
    font-size: 28px;
    font-weight: 300;
    letter-spacing: -1.12px;
}

.count_active {
    color: #173D33;
    text-align: justify;
}

.nav_btns {
    display: flex;
    gap: 12px;

    padding-bottom: 5px;
}

.nav_btns>button {
    display: inline-flex;
    padding: 15px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 50%;
    border: 1px solid #173D33;
    background-color: transparent;

    transition: border var(--animation), color var(--animation);

    cursor: pointer;

    &:hover {
        color: var(--accent-color);
        border: 1px solid var(--accent-color);
    }
}

.img_wrap {
    padding-bottom: 24px;
}

.info_wrap {
    position: relative;
    display: flex;
    justify-content: space-between;

    padding-bottom: 21px;
    margin-bottom: 12px;

    &::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        content: "";
        display: block;
        width: 100%;
        height: 1px;

        background-color: var(--accent-color);
    }
}

.company_info {
    width: 175px;
}

.company_info_desctop {
    display: none;
}

.location {
    text-align: justify;
    font-size: 18px;
    letter-spacing: -0.72px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;

    background-color: var(--accent-color);
    border-radius: 50%;

    transition: background-color var(--animation), color var(--animation);

    cursor: pointer;

    &:hover {
        color: var(--accent-color);
        background-color: var(--primary-color);
    }
}

.activities_box {
    display: flex;
    justify-content: space-between;

    padding-bottom: 12px;

    text-align: justify;
    font-size: 12px;
    letter-spacing: -0.48px;
}