.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    @media screen and (min-width: 768px) {
        gap: 24px;
    }
}

.value_wrap {
    min-width: 270px;

    @media screen and (min-width: 768px) {
        min-width: 560px;
    }

    @media screen and (min-width: 1280px) {
        min-width: 900px;
    }
}

.value {
    color: var(--accent-color);
    text-align: center;
    font-family: var(--font-oswald);
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
        font-size: 100px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 164px;
    }
}

.measure {
    text-align: center;
    font-family: var(--font-oswald);
    font-size: 24px;
    line-height: 1;

    @media screen and (min-width: 768px) {
        font-size: 28px;
        line-height: 1.7;
    }

    @media screen and (min-width: 1280px) {
        font-size: 48px;
        line-height: 1;
    }
}