.section {
    margin-top: 222px;

    @media screen and (min-width: 768px) {
        margin-top: 243px;
    }

    @media screen and (min-width: 1280px) {
        margin-top: 264px;
    }
}

.content_wrap {
    position: relative;
    padding-bottom: 268px;

    @media screen and (min-width: 768px) {
        padding-bottom: 540px;
    }

    @media screen and (min-width: 768px) {
        padding-bottom: 764px;
    }

    &::after {
        position: absolute;
        bottom: 36px;
        left: 0;

        display: block;
        content: "";
        width: 100%;
        height: 210px;

        background: url(../../../public/imgs/wind-turbine-clean-energy-mob.jpg), lightgray 50%;
        background-repeat: no-repeat;
        background-size: cover;

        @media screen and (min-width: 768px) {
            bottom: 68px;
            height: 440px;

            background: url(../../../public/imgs/wind-turbine-clean-energy-tab.jpg), lightgray 50%;
            background-repeat: no-repeat;
            background-size: cover;
        }

        @media screen and (min-width: 1280px) {
            bottom: 128px;
            height: 600px;

            background: url(../../../public/imgs/wind-turbine-clean-energy-desk.jpg), lightgray 50%;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

.content_box {
    position: relative;

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        gap: 65px;

        padding-bottom: 24px;
        margin-bottom: 24px;
    }

    &::after {
        position: absolute;
        bottom: 24px;
        left: 0;

        content: "";
        width: 100%;
        height: 1px;
        background-color: var(--accent-color);

        @media screen and (min-width: 768px) {
            bottom: 0
        }
    }

    @media screen and (min-width: 1280px) {
        display: flex;
        justify-content: space-between;

        margin-bottom: 12px;
    }
}

.main_title {
    padding-bottom: 24px;

    font-family: var(--font-oswald);
    font-size: 36px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
        padding-bottom: 0;

        font-size: 48px;
    }

    @media screen and (min-width: 1280px) {
        width: 485px;

        font-size: 64px;
    }
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.descr {
    padding-bottom: 24px;

    text-align: justify;
    letter-spacing: -0.64px;

    @media screen and (min-width: 768px) {
        padding-bottom: 0;
        width: 342px;

        text-align: start;
    }

    @media screen and (min-width: 1280px) {
        margin-right: 96px;
        width: 363px;
    }
}

.link_wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 24px;
    margin-bottom: 24px;
    width: 100%;

    @media screen and (min-width: 768px) {
        justify-content: start;

        padding-bottom: 0;
        margin-bottom: 0;
    }

}

.link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;

    padding: 4px 4px 4px 16px;
    height: 39px;

    color: var(--primary-color);

    border-radius: 32px;
    border: 1px solid var(--accent-color);

    transition: color var(--animation), background-color var(--animation);

    cursor: pointer;

    &:hover,
    &:focus {
        color: var(--accent-color);
        background-color: var(--primary-color);
    }
}

.link_text {
    line-height: 1.12;
    letter-spacing: -0.64px;
}

.icon_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 8px;

    border-radius: 50%;
    background-color: var(--accent-color);
}

.address_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    font-style: normal;
    letter-spacing: -0.64px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 0;

        &>li:first-child {
            margin-right: 72px;
        }

        &>li:last-child {
            margin-left: 50px;
        }
    }

    @media screen and (min-width: 1280px) {
        justify-content: flex-start;

        &>li:first-child {
            margin-right: 328px;
        }

        &>li:last-child {
            margin-left: 167px;
        }
    }
}

.address_list a {
    cursor: pointer;
}

.copyright {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
    }
}