.section {
    padding-bottom: 36px;

    @media screen and (min-width:768px) {
        padding-bottom: 100px;
    }
}

.title {
    text-align: center;

    @media screen and (min-width:768px) {
        padding-bottom: 40px;
    }
}

.wrap {
    @media screen and (min-width:768px) {
        display: flex;
        justify-content: space-between;
    }
}

.contact_wrap {
    display: flex;
    flex-direction: column;

    padding-bottom: 24px;

    @media screen and (min-width:768px) {
        width: 244px;
    }
}

.contact_box {
    display: flex;
    flex-direction: column;

    font-style: normal;
}

.label {
    padding-bottom: 8px;

    text-align: justify;
    letter-spacing: -0.64px;
}

.list {
    padding-bottom: 24px;
}

.link {
    display: flex;
    align-items: center;
    gap: 8px;

    text-align: justify;
    font-size: 20px;
    letter-spacing: -0.8px;
}

.link_phone {
    padding-bottom: 12px;
}

.social_list {
    display: flex;
}

.social_link {
    display: inline-block;
    padding: 12px;
    width: 48px;
    height: 48px;

    color: var(--primary-color);

    transition: color var(--animation);

    cursor: pointer;

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}