.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 8px;
    width: 32px;
    height: 32px;

    border: none;
    border-radius: 50%;
    background-color: var(--accent-color);

    transition: background-color var(--animation), color var(--animation);

    cursor: pointer;

    &:hover {
        color: var(--accent-color);
        background-color: var(--primary-color);
    }
}