.get_in_touch {
    display: none;

    transition: background-color var(--animation),
        color var(--animation);

    cursor: pointer;

    &:hover {
        color: var(--accent-color);
        background-color: var(--primary-color);
    }

    @media screen and (min-width: 768px) {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 12px;

        padding: 10px 16px;

        border-radius: 20px;
        background-color: var(--accent-color);

        letter-spacing: -0.64px;
    }

}