.list {
    padding-bottom: 36px;

    @media screen and (min-width:768px) {
        padding-bottom: 0;
        width: 342px;
    }
}

.item {
    position: relative;

    display: flex;

    padding-top: 16px;
    padding-bottom: 16px;

    &::before {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        content: "";
        display: block;
        width: 100%;
        height: 1px;

        background-color: var(--accent-color);
    }

    &:last-child {
        padding-bottom: 0;
    }
}

.btn {
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;

    border: none;
    background-color: transparent;
}

.content {
    margin-left: 8px;
    width: 100%;
    min-width: 200px;

    text-align: justify;
    font-size: 18px;
    letter-spacing: -0.72px;

    @media screen and (min-width:768px) {
        margin-left: 16px;
    }
}

.answer {
    padding-top: 16px;

    text-align: justify;
    font-size: 14px;
    letter-spacing: -0.56px;
}

.small_size {
    @media screen and (min-width:768px) {
        display: none;
    }
}

.large_size {
    display: none;

    @media screen and (min-width:768px) {
        display: inline;
    }
}